In [29]:
import utils.Utils as ut
import os
import pandas as pd
from utils.Settings import Setting
from utils.ProjectPath import ProjectPath
from collections import Counter
from utils import ChartDrawer as cd

path = ProjectPath()
setting = Setting()

uniswap_tokens = pd.read_csv(os.path.join(path.univ2_processed_path, "token_info.csv"))
uniswap_pools = pd.read_csv(os.path.join(path.univ2_processed_path, "pool_info.csv"))
display(uniswap_tokens.head())
display(uniswap_pools.head())

ENVIRONMENT VARIABLES
DATA PATH: /mnt/Storage/Data/Blockchain/DEX

/tmp/ipykernel_100580/3119321935.py:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  uniswap_tokens = pd.read_csv(os.path.join(path.univ2_processed_path, "token_info.csv"))

,token,name,symbol,decimals,totalSupply
0,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,USD Coin,USDC,6,25447635799776795
1,0x8E870D67F660D95d5be530380D0eC0bd388289E1,Pax Dollar,USDP,18,106634505570683428958262426
2,0x06AF07097C9Eeb7fD685c692751D5C66dB49c215,Chai,CHAI,18,38480308334265622567694238
3,0x6B175474E89094C44Da98b954EedeAC495271d0F,Dai Stablecoin,DAI,18,3209613358451062408696133612
4,0x408e41876cCCDC0F92210600ef50372656052a38,Republic Token,REN,18,999999632803750000000000000

,pool,token0,token1
0,0xB4e16d0168e52d35CaCD2c6185b44281Ec28C9Dc,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
1,0x3139Ffc91B99aa94DA8A2dc13f1fC36F9BDc98eE,0x8E870D67F660D95d5be530380D0eC0bd388289E1,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
2,0x12EDE161c702D1494612d19f05992f43aa6A26FB,0x06AF07097C9Eeb7fD685c692751D5C66dB49c215,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
3,0xA478c2975Ab1Ea89e8196811F51A7B7Ade33eB11,0x6B175474E89094C44Da98b954EedeAC495271d0F,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
4,0x07F068ca326a469Fc1d87d85d448990C8cBa7dF9,0x408e41876cCCDC0F92210600ef50372656052a38,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48

In [30]:
tokens_appearances = uniswap_pools["token0"].to_list()
tokens_appearances.extend(uniswap_pools["token1"].to_list())
count = pd.Series(tokens_appearances).value_counts()
print("Total Pair", len(uniswap_pools))
# print(count)
top5 =  count[:5]
# cd.pie(top5["symbol"].values, top5["count"].values, "", "", True)
print(top5/len(uniswap_pools) *100)
print(sum(count[5:]))
print(uniswap_tokens[uniswap_tokens["token"].isin(top5.index)])

Total Pair 356298
0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2    96.446514
0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48     0.932366
0xdAC17F958D2ee523a2206206994597C13D831ec7     0.785859
0x6B175474E89094C44Da98b954EedeAC495271d0F     0.287119
0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984     0.094584
Name: count, dtype: float64
361477
                                            token            name symbol  \
0      0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48        USD Coin   USDC
3      0x6B175474E89094C44Da98b954EedeAC495271d0F  Dai Stablecoin    DAI
5      0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2   Wrapped Ether   WETH
482    0xdAC17F958D2ee523a2206206994597C13D831ec7      Tether USD   USDT
38535  0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984         Uniswap    UNI

      decimals                   totalSupply
0            6             25447635799776795
3           18  3209613358451062408696133612
5           18     2910161013031910316265189
482          6             53983320457505922
38535       18  1000000000000000000000000000

In [31]:

pool_labels = pd.read_csv(os.path.join(path.univ2_processed_path, "1_pair_pool_labels.csv"))
scammers = pd.read_csv(os.path.join(path.univ2_processed_path, "1_pair_scammers.csv"))
len(scammers["scammer"].unique())

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/Storage/Data/Blockchain/DEX/uniswap/processed/1_pair_pool_labels.csv'

In [8]:
file_path = os.path.join(path.univ2_processed_path, "simple_rp_scammer_group.csv")
group = pd.read_csv(file_path)
group.groupby('group_id')["scammer"].count().reset_index(name='count').sort_values(['count'], ascending=False)

        group_id  count
4              5  59305
2837        2838     93
926          927     70
1053        1054     69
6035        6036     66
...          ...    ...
36870      36871      1
36869      36870      1
36868      36869      1
36867      36868      1
103838    103839      1

[103839 rows x 2 columns]

In [15]:
print(group["scammer"].count())

145115

In [11]:
file_path = os.path.join(path.univ2_processed_path, "non_swap_simple_rp_scammer_group.csv")
group = pd.read_csv(file_path)
group.groupby('group_id')["scammer"].count().reset_index(name='count').sort_values(['count'], ascending=False)

        group_id  count
8              9   4849
124          125    646
705          706    538
233          234    471
888          889    432
...          ...    ...
48180      48181      1
48179      48180      1
48178      48179      1
48177      48178      1
133748    133749      1

[133749 rows x 2 columns]

In [10]:
file_path = os.path.join(path.univ2_processed_path, "non_txs_simple_rp_scammer_group.csv")
group = pd.read_csv(file_path)
group.groupby('group_id')["scammer"].count().reset_index(name='count').sort_values(['count'], ascending=False)

        group_id  count
6              7  43278
6144        6145     59
1338        1339     58
980          981     51
3764        3765     36
...          ...    ...
43441      43442      1
43440      43441      1
43439      43440      1
43438      43439      1
127268    127269      1

[127269 rows x 2 columns]