In [5]:
import utils.Utils as ut
import os
import pandas as pd
from utils.Settings import Setting
from utils.Path import Path
from collections import Counter
from utils import ChartDrawer as cd

path = Path()
setting = Setting()

uniswap_tokens = pd.read_csv(os.path.join(path.univ2_token_path, "token_info.csv"))
uniswap_pools = pd.read_csv(os.path.join(path.univ2_pool_path, "pool_info.csv"))
display(uniswap_tokens.head())
display(uniswap_pools.head())

ENVIRONMENT VARIABLES
DATA PATH: /media/dustin/Storage/Data/blockchain/DEX

/tmp/ipykernel_1045365/3033100847.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  uniswap_tokens = pd.read_csv(os.path.join(path.univ2_token_path, "token_info.csv"))

,token,name,symbol,decimals,totalSupply
0,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,USD Coin,USDC,6,25447635799776795
1,0x8E870D67F660D95d5be530380D0eC0bd388289E1,Pax Dollar,USDP,18,106634505570683428958262426
2,0x06AF07097C9Eeb7fD685c692751D5C66dB49c215,Chai,CHAI,18,38480308334265622567694238
3,0x6B175474E89094C44Da98b954EedeAC495271d0F,Dai Stablecoin,DAI,18,3209613358451062408696133612
4,0x408e41876cCCDC0F92210600ef50372656052a38,Republic Token,REN,18,999999632803750000000000000

,pool,token0,token1
0,0xB4e16d0168e52d35CaCD2c6185b44281Ec28C9Dc,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
1,0x3139Ffc91B99aa94DA8A2dc13f1fC36F9BDc98eE,0x8E870D67F660D95d5be530380D0eC0bd388289E1,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
2,0x12EDE161c702D1494612d19f05992f43aa6A26FB,0x06AF07097C9Eeb7fD685c692751D5C66dB49c215,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
3,0xA478c2975Ab1Ea89e8196811F51A7B7Ade33eB11,0x6B175474E89094C44Da98b954EedeAC495271d0F,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
4,0x07F068ca326a469Fc1d87d85d448990C8cBa7dF9,0x408e41876cCCDC0F92210600ef50372656052a38,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48

In [15]:
tokens_appearances = uniswap_pools["token0"].to_list()
tokens_appearances.extend(uniswap_pools["token1"].to_list())
count = pd.Series(tokens_appearances).value_counts()
print("Total Pair", len(uniswap_pools))
# print(count)
top5 =  count[:5]
# cd.pie(top5["symbol"].values, top5["count"].values, "", "", True)
print(top5/len(uniswap_pools) *100)
print(sum(count[5:]))
print(uniswap_tokens[uniswap_tokens["token"].isin(top5.index)])

Total Pair 356296
0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2    96.446494
0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48     0.932371
0xdAC17F958D2ee523a2206206994597C13D831ec7     0.785863
0x6B175474E89094C44Da98b954EedeAC495271d0F     0.287121
0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984     0.094584
Name: count, dtype: float64
361475
                                            token            name symbol  \
0      0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48        USD Coin   USDC
3      0x6B175474E89094C44Da98b954EedeAC495271d0F  Dai Stablecoin    DAI
5      0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2   Wrapped Ether   WETH
482    0xdAC17F958D2ee523a2206206994597C13D831ec7      Tether USD   USDT
38535  0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984         Uniswap    UNI

      decimals                   totalSupply
0            6             25447635799776795
3           18  3209613358451062408696133612
5           18     2910161013031910316265189
482          6             53983320457505922
38535       18  1000000000000000000000000000